{{> head }}
{{> navbar }}
<div class="container">
    
    <div class="row">
        <div class="col-4 d-flex justify-content-center align-content-center bg-info">
            <h1 class="d-inline-block">HandleBars</h1>
        </div>
        
        <div class="col-8 d-flex justify-content-center align-content-center">
            <img src="assets/img/motor-de-plantillas.jpg" alt="img-tubmnail">
        </div>
        
    </div>
    
</div>
{{> footer }}